#area-sobre-mim {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sobre-min-preinfo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#sobre-min-preinfo-area-img {
  border-radius: 50%;
}
#area-sobre-min-text {
  text-indent: 1.5em;
}

#area-sobre-min-text h2 {
  text-align: center;
  text-indent: 0;
}

@media (min-width: 600px) {
  #sobre-min-preinfo-area {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
